{% extends "portfolioSite/base.html" %}

{% block content %}
<h2>HELLO WORLD</h2>
<p>My name is Phil Park and I am a computer scientist located in Connecticut! My focus is on developing easy-to-use applications with a little bit of machine learning. I graduated with an undergraduate degree in Computational Biology from Brown University and am currently pursuing graduate school and career opportunities. I am particularly interested on web development, concentrating on Django and PHP.</p>
<br>
<p>Find me on github</p>
{% endblock %}