{% load staticfiles %}

<?php include "{% static 'header.php' %}"; ?>
		<div id='content'>
			<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed augue eros, tempor a est ullamcorper, ultrices scelerisque mauris. Sed tempus, magna in varius mollis, orci metus adipiscing urna, quis semper quam risus a ante. Aenean vel turpis lorem. Proin pellentesque, enim ut semper tristique, nisi nibh gravida nunc, egestas aliquet tellus arcu sit amet dolor. Morbi eget venenatis sapien. Donec commodo, lectus nec elementum sodales, nisl odio convallis metus, vitae congue neque est sit amet purus. Pellentesque vestibulum nisl elit, at tincidunt dolor aliquet eget. Donec arcu nunc, fringilla a aliquet ac, iaculis nec enim. Ut id odio dolor. 
		</div>
<?php include 'footer.php'; ?>